In [4]:
age_list = [24, 25, 26, 27, 28]
print("age_list")
for age in age_list:
    print(age)

age_list
24
25
26
27
28

In [3]:
name_list = ["Alice", "Bob", "Charlie", "David", "Eve"]
print("name_list")
for name in name_list:
    print(name)

name_list
Alice
Bob
Charlie
David
Eve

In [5]:
name_list.append("Yazhini")
print("name_list after append:")
for name in name_list:
    print(name)

name_list after append:
Alice
Bob
Charlie
David
Eve
Yazhini

In [6]:
age_list.insert(2, 30)
print("age_list after insert at index 2:")
for age in age_list:
    print(age)

age_list after insert at index 2:
24
25
30
26
27
28

In [7]:
name_list.remove("Yazhini")
print("name_list after removing 'Yazhini':")
for name in name_list:
    print(name)

name_list after removing 'Yazhini':
Alice
Bob
Charlie
David
Eve

In [8]:
popped_element = age_list.pop()
print("Popped element:", popped_element)
print("age_list after pop:")
for age in age_list:
    print(age)

Popped element: 28
age_list after pop:
24
25
30
26
27

In [9]:
age_list.extend([29, 30, 26])
print("age_list after extend:")
for age in age_list:
    print(age)

age_list after extend:
24
25
30
26
27
29
30
26

In [10]:
age_list.sort(reverse=True)
print("age_list after descending sort:")
for age in age_list:
    print(age)

age_list after descending sort:
30
30
29
27
26
26
25
24

In [11]:
print("Maximum age:", max(age_list))
print("Minimum age:", min(age_list))
print("Sum of all ages:", sum(age_list))

Maximum age: 30
Minimum age: 24
Sum of all ages: 217

In [12]:
print("First element of name_list:")
print(name_list[0])

First element of name_list:
Alice

In [13]:
print("Last element of name_list:")
print(name_list[-1])

Last element of name_list:
Eve

In [14]:
print("Elements from index 2 to 4 in name_list:")
for name in name_list[2:5]:
    print(name)

Elements from index 2 to 4 in name_list:
Charlie
David
Eve

In [15]:
print("name_list in reverse order:")
for name in name_list[::-1]:
    print(name)

name_list in reverse order:
Eve
David
Charlie
Bob
Alice

In [17]:
student_marks = {
    "Alice": 90,
    "Bob": 75,
    "Charlie": 88,
    "David": 67,
    "Eve": 95
}

print("student_marks")
for name, mark in student_marks.items():
    print(name, ":", mark)

student_marks
Alice : 90
Bob : 75
Charlie : 88
David : 67
Eve : 95

In [19]:
print("Mark of Charlie")
print(student_marks["Charlie"])

Mark of Charlie
88

In [20]:
student_marks["Janani"] = 80
print("student_marks after adding Janani")
for name, mark in student_marks.items():
    print(name, ":", mark)

student_marks after adding Janani
Alice : 90
Bob : 75
Charlie : 88
David : 67
Eve : 95
Janani : 80

In [21]:
student_marks["Bob"] = 82
print("student_marks after updating Bob's mark")
for name, mark in student_marks.items():
    print(name, ":", mark)

student_marks after updating Bob's mark
Alice : 90
Bob : 82
Charlie : 88
David : 67
Eve : 95
Janani : 80

In [22]:
print("All student names (keys)")
for name in student_marks.keys():
    print(name)

print("All marks (values)")
for mark in student_marks.values():
    print(mark)

print("All student-mark pairs (items)")
for name, mark in student_marks.items():
    print(name, ":", mark)

All student names (keys)
Alice
Bob
Charlie
David
Eve
Janani
All marks (values)
90
82
88
67
95
80
All student-mark pairs (items)
Alice : 90
Bob : 82
Charlie : 88
David : 67
Eve : 95
Janani : 80

In [27]:
my_set = set(['a', 'e', 'i', 'o', 'u', 'a', 'a', 'i'])

print("my_set (after removing duplicates)")
for letter in my_set:
    print(letter)

my_set (after removing duplicates)
e
u
o
a
i

In [28]:
try:
    my_set[4] = 's'
except TypeError as e:
    print("Error occurred while trying to change value in a set:")
    print(e)

Error occurred while trying to change value in a set:
'set' object does not support item assignment

In [29]:
set1 = {1, 3, 5, 7, 9}
set2 = {2, 3, 5, 8, 10}

print("Set 1:")
for item in set1:
    print(item)

print("Set 2:")
for item in set2:
    print(item)

Set 1:
1
3
5
7
9
Set 2:
2
3
5
8
10

In [30]:
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)

print("Union of set1 and set2:")
for item in union_set:
    print(item)

print("Intersection of set1 and set2:")
for item in intersection_set:
    print(item)

Union of set1 and set2:
1
2
3
5
7
8
9
10
Intersection of set1 and set2:
3
5

In [31]:
score = int(input("Enter your score (0 to 10): "))

# Determine and print category
if score > 10 or score < 0:
    print("Invalid score. Please enter a number from 0 to 10.")
elif score > 7:
    print("Performance Category: Above Average")
    print("Great job! Keep challenging yourself to reach new heights.")
elif score >= 4:
    print("Performance Category: Average")
    print("Good effort. A bit more focus and practice will help you improve!")
else:
    print("Performance Category: Below Average")
    print("Need to improve. Regular practice brings better results!")

Enter your score (0 to 10):  8

Performance Category: Above Average
Great job! Keep challenging yourself to reach new heights.